<table class="reportingLpTable">
    <tr>
    <th class="title">{TH_OBJECT_TITLE}</th>
    <th class="percentage">{TH_OBJECT_PERCENTAGE}</th>
    <th class="status">{TH_OBJECT_STATUS}</th>
    <th class="type">{TH_OBJECT_TYPE}</th>
    <th class="status_changed">{TH_OBJECT_STATUS_CHANGED}</th>
    </tr>
    <!-- BEGIN rows -->
    <tr>
        <td>{OBJECT_TITLE}</td>
        <td>{OBJECT_PERCENTAGE}</td>
        <td>{OBJECT_STATUS}</td>
        <td>{OBJECT_TYPE}</td>
        <td>{OBJECT_STATUS_CHANGED}</td>
    </tr>
    <!-- END rows -->
</table>